* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  color: #4A5043;
  margin: 0;
  font-family: verdana;
  animation: fadein 2s;
}

/* onload animation for whole body */
@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

/* CSS FOR CONTENT DIV */
#content {
  display: flex;
  justify-content: center;
}

#content > * {
  flex: 1;
}

/* CSS FOR HEADERS */
h1, h2 {
  border-bottom: solid 7px #B9D8C2;
  width: 100%;
  padding: 8px 0px;
  background-color: blanchedalmond;
  text-align: center;
}

/* CSS FOR ALL USER INTERACTIVE BUTTONS/INPUTS */
button,
select,
input {
  margin: 8px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
  border: none;
}

button {
  width: 50%;
}

button:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.15);
}

input {
  text-align: center;
  width: 75%;
}

.delete {
  color: white;
  width: 30px;
  background-color: darkred;
}

/* CSS FOR ALL DATA RENDERED FROM DATABASE */
ul {
  padding: 0px 13px;
}

li {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  border: solid 4px black;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
}

/* the mentees inside rendered mentors! */
li ul {
  width: 90%;
}
/* also css for mentees */
li li {
  background-color: #9AC2C9;
  border-width: 0;
}

li > * {
  margin: 1rem 0;
}

/* CSS FOR CREATE-A-STUDENT, OUTSIDE OF #CONTENT */
#create {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#student-form {
  background-color: #FFCB47;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
  width: 45vw;
}

#student-form > * {
  margin-bottom: 1rem;
}

/* CSS FOR PROVIDED DIVS; I DID NOT MAKE THESE */
#error {
  text-align: center;
  color: red;
}

#teachers > li {
  background-color: #B9D8C2;
}

#unassigned > li {
  background-color: #CC8B8C;
}

/* CSS FOR A BACKTOTOP (OF PAGE) BUTTON -- ONLY APPEARS ON MEDIA QUERY REQUIREMENTS */
#backToTop {
  display: none;
  color: black;
  font-weight: bolder;
  padding: 15px 0px;
  text-align: center;
}

#backToTop a:visited {
  color: black;
}

#backToTop a:hover {
  color: darkolivegreen;
}

/* MEDIA QUERIES -- CHANGES FORMAT TO A SINGLE COLUMN DOWN THE SCREEN */
@media screen and (max-width: 768px){
  #content {
    flex-direction: column;
  }
  li {
    margin: 1.1rem;
    padding: 1.1rem;
  }
  #backToTop {
    display: block;
  }
}